<div class="container-fluid bg">
    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12"></div>
        <div class="col-lg-4 col-md-8 col-sm-8 col-xs-12">
            <!-- form start -->
            <form [formGroup]="loginFormGroup" class="form-container">
                <h1 class="header">SIGN IN </h1>
                <div class="form-group">
                    <input autocomplete="none" formControlName="email" type="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input autocomplete="none" formControlName="password" type="password" placeholder="Password">
                </div>
                <button (click)="submitForm()" type="submit" [disabled]="loginFormGroup.dirty && loginFormGroup.invalid">login</button>
            </form>
            <!-- form end -->
        </div>
    </div>
</div>