<body>
    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- form start -->
                <form class="form-container signUpForm-C">
                    <h1 class="header">Sign Up </h1>
                    <div class="form-group signUpLabels">
                        <input type="text" class="form-control" id="signupLastName-id" aria-describedby="emailHelp" placeholder="First Name"><br>
                        <input type="text" class="form-control" id="signUpLastName-id" aria-describedby="emailHelp" placeholder="Last Name"><br>
                        <input type="email" class="form-control" id="signUpInputEmail-id" aria-describedby="emailHelp" placeholder="Email"><br>
                        <input type="text" class="form-control" id="signUpPassword-id" aria-describedby="emailHelp" placeholder="Password"><br>
                        <input type="text" class="form-control" id="signUpPasswordConf-id" aria-describedby="emailHelp" placeholder="Confirm Email"><br>


                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                    <small id="signup" class="form-text text-muted">Already a member? <a href="./login.html"> Log In</a></small>
                </form>
                <!-- form end -->
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>