<div class="container-fluid contactContainer ">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 style="font-size:80px; text-align:center">Lets Get In Touch! </h1><br><br>
            <p style="text-align: center ;font-family: 'Amatic SC';font-size: 32px">
                Got a project you would like me to work on? Or how about just a friendly chat? If you would like to send me an enquiry please
                feel free to get in touch by sending me a message.</p>
            <div style="text-align: center ;font-family: 'Amatic SC';font-size: 32px">

                <i class="fas fa-envelope"></i><a href="mailto:lauragodinez45@gmail.com" onclick="_gaq.push(['_trackEvent', 'laura', 'lauragodinez45@gmail.com']);">lauragodinez45@gmail.com</a>                <br>
                <i class="fab fa-linkedin white"></i> <a href onclick="myLinkedIn()">LinkedIn</a><br>
                <i class="fab fa-github white"></i><a href onclick="myGitHub()">GitHub</a><br>
            </div>


        </div>

    </div>
</div>