<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- form start -->
            <form [formGroup]="registrationFormGroup" class="form-container ">
                <h1 class="header">SIGN UP </h1>
                <div class="form-group ">
                    <input autocomplete="none" formControlName="firstName" type="text" placeholder="First Name"><br>
                </div>
                <div class="form-group ">
                    <input autocomplete="none" formControlName="lastName" type="text" placeholder="Last Name"><br>
                </div>
                <div class="form-group ">
                    <input autocomplete="none" formControlName="email" type="email" placeholder="Email"><br>
                </div>
                <div class="form-group ">
                    <input autocomplete="none" formControlName="password" type="text" placeholder="Password"><br>

                </div>

                <button (click)="submitForm()" type="submit" [disabled]="registrationFormGroup.dirty && registrationFormGroup.invalid">sign up</button>
            </form>
            <!-- form end -->
        </div>
    </div>
</div>